<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h2>Libri</h2>
      <hr>
      <h1>{{title}}</h1>
      <ul>
        <a href="/"><li>| Acceuil</li></a>
        <a href="/Nos_formations"><li>| Nos formations</li></a>
        <a href="/Blog"><li>| Le blog</li></a>
        <a href="/Nous_contacter"><li>| Nous contacter</li></a>
      </ul>
      <hr>
    </header>
    {{{body}}}
  </body>
</html>
