{{#if blog}}
    {{#each blog}}
        <a href="./blog/{{this.id}}">
        <h3>Titre : {{this.titre}}</h3>
        <h3>Date : {{this.date}}</h3>
        <h3>Auteur : {{this.auteur}}</h3>
        </a>
        <hr>
    {{/each}}
{{else}}
Aucun blog n'a été trouver.
{{/if}}