{{#each formations}}
    <a href="/Nos_formations-Single_formation_by_type/{{this.id}}">
    <h3>Type : {{this.type}}</h3>
    <h3>Titre : {{this.titre}}</h3>
    <p>{{this.description}}</p>
    <p>Durée : {{this.duree}}</p>
    <p>Coût : {{this.cout}}</p>
    </a>
    <hr>
{{/each}}
