<h3>Les informations suivantes sont erronées</h3>
{{#each erreur}}
    {{this}}<br>
{{/each}}

<form action="/nous_contacter/add" method="POST">
    <label for="nom" class="mt-3">Nom</label><br>
    <input type="text" id="nom" name="nom" placeholder="Labranche" value={{info.nom}}><br>
    <label for="prenom" class="mt-3">Prenom</label><br>
    <input type="text" id="prenom" name="prenom" placeholder="Olivier" value={{info.prenom}}><br>
    <label for="courriel" class="mt-3">Courriel</label><br>
    <input type="email" id="courriel" name="courriel" placeholder="courriel@gmail.com" value={{info.courriel}}><br>
    <label for="tel" class="mt-3">Numéro de téléphone</label><br>
    <input type="tel" id="tel" name="tel" placeholder="123-456-7890" value={{info.tel}}><br>
    <p class="mt-3 mb-0">Sujet de la demande :</p><br>
    <input type="radio" name="sujet" id="inscription" value="inscription" {{#if_eq info.sujet 'inscription'}}checked{{/if_eq}}>
    <label for="inscription">Inscription</label><br>
    <input type="radio" name="sujet" id="demande" value="demande" {{#if_eq info.sujet 'demande'}}checked{{/if_eq}}>
    <label for="demande">Demande de formation</label><br>
    <label for="champ" class="mt-3">Champ de la demande</label><br>
    <textarea name="champ" id="champ" cols="30" rows="10">{{info.champ}}</textarea><br>
    <input type="submit" value="soumettre">
</form>

