<h3>Les informations suivantes ont été envoyé:</h3>
<B>Nom :</B> {{info.nom}}<br>
<B>Prenom :</B> {{info.prenom}}<br>
<B>Courriel :</B> {{info.courriel}}<br>
<B>Tel. :</B>{{info.tel}}<br>
<B>Sujet :</B>{{info.sujet}}<br>
<B>Demande :</B>{{info.champ}}
<a href="/"><h2>Retour à l'acceuil</h2></a>
